<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>
    <targets>
        <target type="ColoredConsole"
                name="Console"
                useDefaultRowHighlightingRules="false"
                layout="${LogLayout}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Trace" foregroundColor="Green" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="Console"/>
    </rules>

</nlog>